.card-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  @media(min-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}

.card {
  align-items: center;
  display: inline-block;
  width: 30rem;
  margin: $m-size;
  height: 49rem;
  color: white;
  border-radius: 3px;
  box-shadow: black 5px 5px 5px;
  background: $dark-blue;
  @media(min-width: $desktop-breakpoint) {

  }  
}

.card__title {
  text-align: center;
  margin: $s-size auto;
  width: 80%;
}

.card__poster {
  display: block;
  width: 90%;
  margin: 0 auto;
  height: 38rem;
}

.card__button-group {
  margin: $s-size $m-size;
}